@mixin text-style($color, $ff, $size, $weight, $position) {
   color: $color;
   font-family: $ff;
   font-size: $size;
   font-style: normal;
   font-weight: $weight;
   line-height: normal;
   text-align: $position;
}

@mixin pseudo-icon-left($icon, $width, $height, $top, $left) {
   content: '';
   background-image: url($icon);
   width: $width;
   height: $height;
   position: absolute;
   top: $top;
   left: $left;
}
@mixin pseudo-icon-right($icon, $bg-color, $width, $height, $top, $right) {
   content: '';
   background-image: url($icon);
   background-color: $bg-color;
   background-position: center;
   background-repeat: no-repeat;
   width: $width;
   height: $height;
   position: absolute;
   top: $top;
   right: $right;
}

@mixin pseudo-circles($rotate, $width, $height, $top, $right) {
   content: '';
   width: $width;
   height: $height;
   transform: rotate($rotate);
   border-radius: 50%;
   border: 1px solid #737373;
   position: absolute;
   top: $top;
   right: $right;
}