@import 'reset';
@import 'base';
@import 'variables';
@import 'mixins';


.header {
   padding-top: 41px;
   position: fixed;
   top: 0;
   z-index: 10;
   width: 100%;

   &__cont {
      display: flex;
      justify-content: space-between;
      align-items: center;
   }
   .nav {
      &__menu {
         display: flex;
         gap: 20px;
      }
      
      &__menu-link {
         display: block;
         @include text-style(#fff, Manrope, 16px, 700, start);
         padding: 10px 16px 10px 44px;
         border: 1px solid #fff;
         border-radius: 20px;
         position: relative;
      }
      &__menu-link1::after {
         @include pseudo-icon-left('../images/portfolio-icon.svg', 16px, 16px, 13px, 15px);
      }
      &__menu-link2::after {
         @include pseudo-icon-left('../images/resume-icon.svg', 16px, 16px, 13px, 15px);
      }
      &__menu-link3::after {
         @include pseudo-icon-left('../images/flower-icon.svg', 16px, 16px, 13px, 15px);
      }
      &__menu-link4::after {
         @include pseudo-icon-left('../images/contact-icon.svg', 16px, 16px, 13px, 15px);
      }
   }

   .hidden-menu {
      display: none;
      padding: 20px;
      border-radius: 20px;
      border: 2px solid #FFF;
      background: url("../images/hidden-menu-icon.svg") no-repeat center;
   }
}

.main {
   .hero {
      padding-top: 92px;
      background: linear-gradient(253deg, #FFEE32 -13.48%, #D6D6D6 125.48%);

      &__cont {
         margin-top: 401px;
         padding-bottom: 119px;
      }
   
      &__title {
         width: fit-content;
         @include text-style(#fff, DynaPuff, 80px, 700, start);
      }
   }
   .meet {
      padding: 97px 0 102px;
      background-color: #202020;
      position: relative;
      overflow: hidden;

      &::before {
         @include pseudo-circles(-45deg, 268px, 512px, -25px, -5px);
      }
      &::after {
         @include pseudo-circles(45deg, 268px, 512px, -25px, -5px);
      }

      .meet-cont {
         display: flex;
         flex-direction: column;
         gap: 40px;

         &__title {
            @include text-style(#FAEB49, DynaPuff, 48px, 700, start);
         }
         &__text {
            @include text-style(#fff, Manrope, 16px, 500, start);
            max-width: 524px;
         }

         .progress {
            display: flex;
            gap: 96px;

            .progress-first, .progress-second, .progress-third {
               &__clients-count, &__project-count, &__designs-count {
                  @include text-style(#fff, DynaPuff, 48px, 700, start);
               }
               &__clients-text, &__project-text, &__designs-text {
                  @include text-style(#fff, Manrope, 16px, 700, start);
               }
            }
         }
      }
   }

   .projects {
      background-color: #3C3C3C;
      padding: 86px 0;
      .proj-cont {
         &__item {
            display: block;
            border-radius: 24px;
            background-color: #FFFEF2;
            position: relative;

            &::after {
               @include pseudo-icon-right('../images/arrow-icon.svg', #fff, 56px, 56px, 40px, 40px);
               border-radius: 50%;
            }

            &--primery {
               padding: 24px 20px;
               width: 100%;
               max-height: 680px;
            }
            &--secondary {
               padding: 20px;
               width: 100%;
               height: 545px;
            }
            
            &-img {
               margin-bottom: 20px;
               object-fit: cover;
               &--primery {
                  width: 100%;
                  height: 498px;
                  border-radius: 13px;
               }
               &--secondary {
                  width: 100%;
                  height: 338px;
                  border-radius: 13px;
               }
               
            }

            &-title {
               margin-bottom: 22px;
               &--primery {
                  @include text-style(#565656, DynaPuff, 40px, 600, start);
               }
               &--secondary {
                  @include text-style(#565656, DynaPuff, 24px, 700, start);
               }
            }
            &-text {
               &--primery {
                  @include text-style(#000, Manrope, 16px, 700, start);
               }
               &--secondary {
                  @include text-style(#000, Manrope, 16px, 500, start);
               }
            }
         }

         &__secondary-box {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 40px;
            margin-top: 63px;
         }
      }
   }

   .design {
      background-color: #202020;
      padding-top: 82px;
      padding-bottom: 138px;

      .design-cont {
         padding: 0 35px;
         &__title {
            @include text-style(#fff, DynaPuff, 80px, 700, start);
            margin-bottom: 38px;
         }
      }

      .design-menu {
         display: grid;
         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, fit-content);
         grid-template-areas: 
         "first first"
         "second third";
         gap: 26px;

         &__list-first {
            grid-area: first;
            position: relative;

            &::before {
               @include pseudo-icon-right('../images/soft-star.svg', transparent, 268px, 268px, 50%, 50%);
               transform: translate(50%, -50%);
            }
         }
         &__list-second {
            grid-area: second;
            position: relative;

            &::before {
               @include pseudo-icon-right('../images/butterfly.svg', transparent, 187px, 191px, 50%, 50%);
               transform: translate(50%, -50%);
            }
         }
         &__list-third {
            max-width: 514px;
            max-height: 414px;
            object-fit: contain;
            grid-area: third;
            position: relative;

            &::before {
               @include pseudo-icon-right('../images/asterisk.svg', transparent, 233px, 225px, 50%, 50%);
               transform: translate(50%, -50%);
            }
         }
      }
   }

   .quot {
      background: url('../images/quot-bg.png') no-repeat center/cover;

      .quot-cont {
         padding: 320px 0;
         &__title {
            @include text-style(#fff, DynaPuff, 48px, 700, center);
         }
      }
   }
}

.footer {
   background-color: #202020;

   .footer-cont {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 78px 0 30px;

      &__button {
         display: block;
         padding: 42px 137px 42px 290px;
         border: 1px solid #F2F2F2;
         border-radius: 139px;
         width: fit-content;
         margin-bottom: 163px;
         position: relative;

         &::before {
            @include pseudo-icon-left('../images/dawn-btn.svg', 108px, 108px, 50%, 15%);
            transform: translateY(-50%);
         }

         &-title {
            @include text-style(#fff, DynaPuff, 48px, 700, center);
            margin-bottom: 17px;
         }
         &-text {
            @include text-style(#fff, Manrope, 24px, 500, start);
            position: relative;

            &::after {
               @include pseudo-icon-right('../images/arrow-footer-btn.svg', transparent, 60px, 26px, 50%, 45%);
               transform: translateY(-50%);
            }
         }
      }

      &__menu {
         display: flex;
         justify-content: center;
         gap: 24px;
         margin-bottom: 21px;

         &-link {
            display: block;
            width: 24px;
            height: 24px;

            &-one {
               background-image: url('../images/twitch.svg');
            }
            &-two {
               background-image: url('../images/twitter.svg');
            }
            &-three {
               background-image: url('../images/instagram.svg');
            }
            &-four {
               background-image: url('../images/linkedin.svg');
            }
         }
      }

      &__foot-block {
         &-text {
            @include text-style(#fff, Manrope, 16px, 500, center);
         }
      }
   }
}


@media (max-width: 1200px) {
   .header {
      
      &__cont {
         padding: 0 35px;
      }

      .nav {
         margin-top: 38px;
         display: none;
      }
      .hidden-menu {
         display: block;
         padding: 20px;
         border-radius: 20px;
         border: 2px solid #FFF;
         background: url("../images/hidden-menu-icon.svg") no-repeat center;
      }
   }
      
   .main {
      .hero {

         &__cont {
            margin-top: 179px;
            padding: 0 35px 179px;
         }
      }

      .meet {

         &::before {
            @include pseudo-circles(-45deg, 268px, 512px, -25px, -160px);
         }
         &::after {
            @include pseudo-circles(45deg, 268px, 512px, -25px, -160px);
         }
         
         .meet-cont {
            padding: 0 35px;
         }
      }

      .projects {
         .proj-cont {
            padding: 0 35px;

            &__item {
               &--secondary:nth-child(3) {
                  display: none;
               }
            }
            &__secondary-box {
               grid-template-columns: repeat(2, 1fr);
            }
         }
      }

      .design {
         padding-bottom: 129px;
   
         .design-menu {
            gap: 26px 34px;
            &__list-first {
               &::before {
                  @include pseudo-icon-right('../images/soft-star-mid.svg', transparent, 227px, 227px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
            &__list-second {
               &::before {
                  @include pseudo-icon-right('../images/butterfly-mid.svg', transparent, 147px, 151px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
            &__list-third {
               &::before {
                  @include pseudo-icon-right('../images/asterisk-mid.svg', transparent, 183px, 177px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
         }
      }

      .quot {
         .quot-cont {
            padding: 280px 35px;
            &__title {
               @include text-style(#fff, DynaPuff, 48px, 700, center);
            }
         }
      }
   }

   .footer {
      .footer-cont {
         padding: 96px 0 30px;
   
         &__button {
            margin-bottom: 60px;
            padding: 30px 40px 30px 190px;

            &::before {
               @include pseudo-icon-left('../images/dawn-btn.svg', 108px, 108px, 50%, 6%);
               transform: translateY(-50%);
            }
   
            &-title {
               @include text-style(#fff, DynaPuff, 48px, 700, center);
               margin-bottom: 17px;
            }
            &-text {
               @include text-style(#fff, Manrope, 24px, 500, start);
               position: relative;
   
               &::after {
                  @include pseudo-icon-right('../images/arrow-footer-btn.svg', transparent, 60px, 26px, 50%, 45%);
                  transform: translateY(-50%);
               }
            }
         }
   
         &__menu {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 21px;
   
            &-link {
               display: block;
               width: 24px;
               height: 24px;
   
               &-one {
                  background-image: url('../images/twitch.svg');
               }
               &-two {
                  background-image: url('../images/twitter.svg');
               }
               &-three {
                  background-image: url('../images/instagram.svg');
               }
               &-four {
                  background-image: url('../images/linkedin.svg');
               }
            }
         }
      }
   }
}

@media (max-width: 768px) {
   .main {
      .hero {
         &__cont {
            margin-top: 401px;
            padding-bottom: 119px;
         }
      
         &__title {
            @include text-style(#fff, DynaPuff, 80px, 700, start);
            
         }
      }

      .meet {
         padding: 72px 0 76px;
         background-color: #202020;
         position: relative;
         overflow: hidden;
   
         &::before {
            @include pseudo-circles(-45deg, 167px, 319px, 50px, -130px);
         }
         &::after {
            @include pseudo-circles(45deg, 167px, 319px, 50px, -130px);
         }
   
         .meet-cont {
            display: flex;
            flex-direction: column;
            gap: 40px;
   
            &__title {
               @include text-style(#FAEB49, DynaPuff, 36px, 700, start);
            }
            &__text {
               @include text-style(#fff, Manrope, 15px, 500, start);
               width: 324px;
            }
   
            .progress {
               display: flex;
               gap: 40px;
   
               .progress-first, .progress-second, .progress-third {
                  &__clients-count, &__project-count, &__designs-count {
                     @include text-style(#fff, DynaPuff, 48px, 700, start);
                  }
                  &__clients-text, &__project-text, &__designs-text {
                     @include text-style(#fff, Manrope, 16px, 700, start);
                  }
               }
            }
         }
      }
      .projects {
         .proj-cont {
            &__item {
               &--secondary:nth-child(1) {
                  display: none;
               }
               &-img {
                  &--primery {
                     width: 100%;
                     height: 278px;
                     border-radius: 13px;
                  }
                  &--secondary {
                     width: 100%;
                     height: 338px;
                     border-radius: 13px;
                  }
               }
               &-title {
                  &--primery {
                     @include text-style(#565656, DynaPuff, 32px, 600, start);
                  }
                  &--secondary {
                     @include text-style(#565656, DynaPuff, 24px, 700, start);
                  }
               }
               &-text {
                  &--primery {
                     @include text-style(#000, Manrope, 15px, 700, start);
                  }
                  &--secondary {
                     @include text-style(#000, Manrope, 15px, 500, start);
                  }
               }
            }
            &__secondary-box {
               grid-template-columns: 1fr;
            }
         }
      }

      .design {
         padding-top: 58px;
         padding-bottom: 93px;
   
         .design-cont {
            padding: 0 35px;
            &__title {
               @include text-style(#fff, DynaPuff, 36px, 700, start);
               margin-bottom: 28px;
            }
         }
   
         .design-menu {
            display: grid;
            grid-template-columns:  343px;
            grid-template-rows: repeat(3, 325px);
            justify-content: center;
            grid-template-areas: 
            "first"
            "second"
            "third";
            gap: 20px;
   
            &__list-first {
               &::before {
                  @include pseudo-icon-right('../images/soft-star-mini.svg', transparent, 172px, 172px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
            &__img-one, &__img-two, &__img-three {
               width: 100%;
               height: 100%;
               object-fit: fill;
            }
            &__list-second {
               &::before {
                  @include pseudo-icon-right('../images/butterfly-mini.svg', transparent, 134px, 137px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
            
            &__list-third {
               &::before {
                  @include pseudo-icon-right('../images/asterisk-mini.svg', transparent, 148px, 143px, 50%, 50%);
                  transform: translate(50%, -50%);
               }
            }
         }
      }

      .quot {   
         .quot-cont {
            padding: 180px 35px;
            &__title {
               @include text-style(#fff, DynaPuff, 48px, 700, center);
            }
         }
      }
   }

   .footer {
      .footer-cont {
         padding: 53px 0 30px;
   
         &__button {
            margin-bottom: 113px;
            padding: 10px 30px 10px 100px;

            &::before {
               @include pseudo-icon-left('../images/dawn-btn-mini.svg', 52px, 51px, 50%, 25px);
               // background-position: center;
               // background-repeat: no-repeat;
               transform: translateY(-50%);
            }
   
            &-title {
               @include text-style(#fff, DynaPuff, 20px, 700, center);
               margin-bottom: 17px;
            }
            &-text {
               @include text-style(#fff, Manrope, 15px, 500, start);
               position: relative;
   
               &::after {
                  @include pseudo-icon-right('../images/arrow-footer-btn-mini.svg', transparent, 35px, 16px, 50%, 30px);
                  transform: translateY(-50%);
               }
            }
         }
   
         &__menu {
            display: flex;
            justify-content: center;
            gap: 24px;
            margin-bottom: 21px;
   
            &-link {
               display: block;
               width: 24px;
               height: 24px;
   
               &-one {
                  background-image: url('../images/twitch.svg');
               }
               &-two {
                  background-image: url('../images/twitter.svg');
               }
               &-three {
                  background-image: url('../images/instagram.svg');
               }
               &-four {
                  background-image: url('../images/linkedin.svg');
               }
            }
         }
      }
   }
}